<h4>1.What types of scholarships are available?</h4>
<p>
    There are a huge range of scholarship opportunities available for university students across the world, ranging from partial scholarships which cover some tuition fees, to full scholarships which cover the duration of your studies. The majority of scholarships cover tuition fees only, leaving students to cover their own living costs.

    There are also many different types of scholarships for international students from certain regions, or even students studying in a certain field. For instance, many students from developing countries, including parts of Africa, Asia, Latin America and Eastern Europe, can apply for specific scholarships, as can many students from all over the world looking to study in a STEM-related field (science, technology, engineering and mathematics).
    
    Related articles:
</p>
<h4>
    2.  What are my chances of gaining a scholarship?
</h4>
<p>
    Don’t be fooled, scholarships are highly competitive. After all, there are many students around the world trying to get funding for their studies. Although some scholarships depend on outstanding academic records (‘merit-based scholarships’), your chances of success are often determined by the quality of your application, and whether or not you are in financial need. A number of universities in the US, including Harvard and MIT for example, offer ‘need-blind’ admissions policies, meaning that all students’ applications are considered regardless of their financial situation, with tuition fees then covered at least partly by the school.

There are a number of things you can do to improve your chances of gaining a scholarship. When applying for scholarships, you should make sure to include all the documentation requested, and dedicate plenty of time to writing your application. In particular, it’s important to clearly communicate your motivations for studying and how gaining a scholarship will support your ambitions. Stay within the deadlines and, most importantly, show the scholarship providers you have the potential to do great things!
</p>