<div class="container text-dark text-center">
    <br>
    <div class="row">
        <div class="col-md-6 p-3 text-dark bg-light">
            <div *ngIf="scholarship">
                <div>
                    <label><b>Scholarship Id: </b></label> {{scholarship.sNumber}}
                </div>
                <br>
                <div class="container">
                    <div class="row align-items-start">
                      <div class="col">
                        <label><b>Scholarship Country: </b></label> {{scholarship.country}}
                      </div>
                      <div class="col">
                        <label><b>Scholarship State: </b></label> {{scholarship.state}}
                      </div>
                    </div>
                </div>
                <br>
                <div>
                    <label><b>Date: </b></label> {{newdate1}}
                </div>
                <br>
                <div class="container">
                    <div class="row align-items-start">
                      <div class="col">
                        <label><b>Application start: </b></label> {{scholarship.appstart}}
                      </div>
                      <div class="col">
                        <label><b>Application end: </b></label> {{scholarship.append}}
                      </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 p-3 bg-light">
            <div>
                <h6>Scholarship Amount</h6>
                <label><b>Scholarship Money: </b></label> {{scholarship.amount}}
            </div>
        </div> 

        <div class="col-md-3 p-3 bg-light">
            <div>
                <h6>extra money</h6>
                <label><b>Extra money for scholarship: </b></label> {{scholarship.eamount}}
            </div>
        </div>
    </div>
</div>
<br><br>
<div class="container" style="margin-left: 500px;">
    <a class="btn btn-dark" routerLink="/bookscholarship" role="button">apply</a>
</div>