<nav class="navbar navbar-expand-sm bg-info navbar-dark">
    <!-- Links -->
    <ul class="navbar-nav me-auto">
      <img class="card-img" src="\assets\images\og-image.jpg" height="80px" width="80px">
    </ul>

    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a routerLink="/" class="clickme info text-dark " routerLinkActive="active">Home</a>
      </li>

      <li class="nav-item">
        <a routerLink="about" class="clickme info text-dark " routerLinkActive="active">About Us</a>
      </li>

      <li class="nav-item">
        <a routerLink="contact" class="clickme info text-dark " routerLinkActive="active">Contact Us</a>
      </li>
      <li class="nav-item">
        <a routerLink="faq" class="clickme info text-dark " routerLinkActive="active">faq</a>
      </li>
    </ul>

    <ul class="navbar-nav ms-auto">

      <li class="nav-item">
        <a *ngIf="!loginService.isUserLoggedIn()" routerLink="register" class="clickme info text-dark " routerLinkActive="active">Registratation</a>
      </li>
  

      <li class="nav-item">
        <a *ngIf="!loginService.isUserLoggedIn()" routerLink="login" class="clickme info text-dark " routerLinkActive="active">candiadate Login</a>
      </li>
  
      
      <li class="nav-item">
        <a *ngIf="!loginService.isUserLoggedIn()" routerLink="adminlogin" class="clickme info text-dark" routerLinkActive="active">Adminstratation Login</a>
      </li>

      <li class="nav-item">
        <a *ngIf="loginService.isAdminLoggedIn() && !loginService.isUserLoggedIn" routerLink="addscholarship" class="clickme info" routerLinkActive="active">Add Flight</a>
      </li>

      <li class="nav-item">
        <a *ngIf="loginService.isAdminLoggedIn() && !loginService.isUserLoggedIn" routerLink="deletescholarship" class="clickme info" routerLinkActive="active">Delete Flight</a>
      </li>

      <li class="nav-item">
        <a *ngIf="loginService.isUserLoggedIn()" routerLink="logout" class="clickme info" routerLinkActive="active">Logout</a>
      </li>      
    </ul>
  </nav>