<div class="container mt-5 px-5">

    <div class="mb-4">
        <h2>fill the details</h2>
        <span>please fill the details</span>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="card p-3">
                <h6 class="text-uppercase">basic details</h6>
                <div class="inputbox mt-3">
                    <input type="text" name="name" class="form-control" required="required">
                    <span>Name</span>
                </div>
                <div class="inputbox mt-3">
                    <input type="text" name="name" class="form-control" required="required">
                    <span>Fathers Name</span>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="inputbox mt-3 mr-2">
                            <input type="text" name="name" class="form-control" required="required">
                            <i class="fa fa-credit-card"></i> 
                            <span>Roll number</span> 
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="d-flex flex-row">
                            <div class="inputbox mt-3 mr-2">
                                <input type="text" name="name" class="form-control" required="required">
                                <span>10th marks</span> 
                            </div>
                            <div class="inputbox mt-3 mr-2"> 
                                <input type="text" name="name" class="form-control" required="required"> 
                                <span>12th marks</span> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-4 mb-4">
                    <h6 class="text-uppercase">Address</h6>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <div class="inputbox mt-3 mr-2"> 
                                <input type="text" name="name" class="form-control" required="required"> 
                                <span>Address</span> 
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="inputbox mt-3 mr-2">
                                <input type="text" name="name" class="form-control" required="required"> 
                                <span>Collage name</span> 
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <div class="inputbox mt-3 mr-2"> 
                                <input type="text" name="name" class="form-control" required="required"> 
                                <span>State</span> 
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="inputbox mt-3 mr-2"> 
                                <input type="text" name="name" class="form-control" required="required"> 
                                <span>postal code</span> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-4 mb-3 d-flex justify-content-between">
                <a class="btn btn-success" href="thankyou" role="button">apply</a>
            </div>
        </div>

    <!--<div class="col-md-4">

        <div class="card card-blue p-3 text-white mb-3">

            <span>You have to pay</span>
            <div class="d-flex flex-row align-items-end mb-3">
                <h1 class="mb-0 yellow">$549</h1> <span>.99</span>
            </div>

            <span>Enjoy all the features and perk after you complete the payment</span>
            <a href="#" class="yellow decoration">Know all the features</a>

            <div class="hightlight">

                <span>100% Guaranteed support and update for the next 5 years.</span>
            </div>
            
        </div>
        
    </div>-->
    
    </div>
</div>